#
# This file contains configuration flags to customize the site
#

# Site settings
# Name of your site (displayed in the header)
name: 'Example Vacuum Theme'
title: "Example: What is the title of your site?"
short-title: "Site Title"

# Short bio or description (displayed in the header)
description: "Lorem Ipsum something about your site and you too probably."
timezone: America\New_York

# Creator settings
creator: 'Example Author Name'
# URL of your avatar or profile pic (you could use your GitHub profile pic)
#  '/theme/images/avatar.jpg'
copyright-start-year: 2015

# Icon settings
logo: https://avatars3.githubusercontent.com/u/9919?v=3&s=200
logo-description: "This is the site's logo"
favicon: /assets/favicon.ico

# Build Settings
## Conversion
markdown: kramdown
highlighter: coderay #or rouge
#lsi: true // Boolean to determine to produce an index for related posts.
assets:
  autoprefixer:
    browsers:
      - "last 3 versions"
      - "IE > 9"
  autowrite: true
  compress:
      css: true
      js: true
  features:
    automatic_img_size: false
    liquid: true

  assets:
  - "*.css"
  - "*.ico"
  - "*.jpg"
  - "*.png"

  sources:
    - _assets/bower
    - _assets/css
    - _assets/fonts
    - _assets/images
    - _assets/javascripts
    - _assets/stylesheets

## Where things are
source: .
destination: ./_site/
layouts_dir: ./_layouts/

## Handling Reading
safe: false
encoding: "utf-8"
# Exclude these files from your production _site
exclude:
  - bin/*
  - examples/*
  - node_modules/*
  - tests/*
  - /*.gem
  - /*.gemspec
  - /*.iml
  - /*.json
  - /*.lock
  - /*.properties
  - /*.yml
  - .bowerrc
  - Gemfile
  - LICENSE
  - Rakefile
  - README.md
  - vendor

#include:
#keep_files:

## Filtering Content
limit_posts: 4
future: false
unpublished: false
permalink: /:title/ #pretty

# Set the Sass partials directory, as we're using @imports
sass:
  style: :compressed # Minified using :compressed, other choice is :expanded

# Build Plugins
whitelist: []
gems:
  - jekyll-assets
  - jekyll-feed
  - jekyll-sitemap

# Serve settings
detach: false
host: localhost
port: 4831

# Your website URL (e.g. http://user.github.io)
# Used for Sitemap.xml and your RSS feed
url: "http://www.example.com" # the base hostname & protocol for your site
# If hosting site at a Project repository on GitHub pages
# (http://username.github.io/repository-name)
# and NOT the User repository (http://username.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: "" # the subpath of the site, e.g. /blog/

# Front Matter Defaults
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      author: {{ site.creator}}

# Markdown Processors
rdiscount:
  extensions: []

redcarpet:
  extensions: []

excerpt_separator: ""

kramdown:
  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  input: GFM
  syntax_highlighter: coderay
  syntax_highlighter_opts:
      wrap:              div
      line_numbers:      inline
      line_number_start: 1
      tab_width:         4
      bold_every:        10
      css:               style

# About Page Info
about_page_header: "About Page Header"
center_image: "assets/demo-from-pixabay.jpg"

#
# Flags below are optional
#

# List of links for navigation
navigation: [
    # You probably want to fill these in so they point to your user pages
    {'site': 'flickr', 'user': '', 'url': 'http://www.flickr.com/...'},
    {'site': 'github', 'user': '', 'url': 'https://github.com/...'},
    {'site': 'google-plus', 'user': '', 'url': 'https://plus.google.com/...'},
    {'site': 'instagram', 'user': '', 'url': 'http://www.instagram.com/user/...'},
    {'site': 'lastfm', 'user': '', 'url': 'http://www.last.fm/user/...'},
    {'site': 'linkedin', 'user': '', 'url': 'http://linkedin.com/in/...'},
    {'site': 'pinterest', 'user': '', 'url': 'http://www.pinterest.com/...'},
    {'site': 'spotify', 'user': '', 'url': 'https://open.spotify.com/user/...'},
    {'site': 'stackoverflow', 'user': '', 'url': 'http://www.stackoverflow.com/user/...'},
    {'site': 'twitter', 'user': '', 'url': 'https://twitter.com/...'}
]

show_social:
  facebook: false
  twitter: false

# TODO Includes an icon in the footer for each username you enter
footer-links:
#  email: "example@mail.net"
#  facebook_id:
#  flickr_id:
#  github_id:
#  instagram_id:
#  linkedin_url:
#  pinterest_id:
#  rss: # just type anything here for a working RSS icon, make sure you set the "url" above!
#  stackoverflow_url: # your stackoverflow profile, e.g. "users/50476/bart-kiers"
#  twitter_id:

# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
#disqus:

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
#google_analytics:

# Feed Settings
feed:
  main: /feed.xml
  # TODO Ensure tag feed works properly
  tag:  /feed/tag/%s.atom.xml
