---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<!--{% block metadesc %}{{ page.description|e }}{% endblock %} -->

<header>
<style>
    img.round {
    border: 2px solid #222;
    height: 200px;
    width: 200px;
    line-height: 200px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    }
</style>
</header>

<body>
<img class="round" src="/images/image.jpg" alt="{{ site.title }}">

<h1 class="article-title">{{ ABOUT_PAGE_HEADER }}</h1>
<div class="article-content">
    {{ content }}
</div>
<hr class="large">
</body>
