---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<meta name="description" content="{{ page.description }}"/>

<body>

  {% for article in site.posts %}
    {% if article.status != 'draft' %}
      <h2 class="article-title pull-left"><a href="{{ site.url }}{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h2>
      <h5 class="article-date pull-right">{{ article.date | date: "%b %d, %Y" }}</h5>
      <hr class="large">
    {% endif %}
  {% endfor %}

</body>
