---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<!--{% block metadesc %}All posts on {{ SITENAME }} tagged with {{ tag }}{% endblock %}-->

<header></header>

<div>

  <h1 class="article-title">Posts tagged with: {{ tag }}</h1>
  {% for post in site.posts %}
    {% if post.status != 'draft' %}
      <h2 class="article-title pull-left"><a href="/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <h5 class="article-date pull-right">{{ post.date| date: "%b %d, %Y" }}</h5>
      <hr class="large">
    {% endif %}
  {% endfor %}
  <div class="back-to-home">
    <a href="/">← Back to Home</a>
  </div>
  <hr class="small"></hr>
</div>