---
layout: base
---
<title> {{ post.title }} | {{ site.title }}</title>
<meta name="description" content="{{ post.description|e }}"/>

<header class="article-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
        Written on
        {{ page.date | date: "%b %-d, %Y %H:%M:%S" }}{% if page.author %} •
        {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
</header>

{% if site.show_social.facebook %}
	<!-- Facebook Open Graph
  ================================================== -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:url" content="{{ site.url }}/{{ post.url }}">
  <meta property="og:description" content="{{ post.description|e }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

{% if site.show_social.twitter %}
  <!-- Twitter Cards
  ================================================== -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.footer_links.twitter_id }}">
  <meta name="twitter:creator" content="@{{ site.footer_links.twitter_id }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
  <meta name="twitter:title" content="{{ post.title }}">
  <meta name="twitter:description" content="{{ post.description|e }}">
{% endif %}

<div>

  <!-- Article Headers
  ================================================================== -->
  <h1 class="article-title"><a href="/{{ post.url }}" title="Permalink to {{ post.title }}">{{post.title}}</a></h1>
  <h5 class="article-date">{{ post.date| date: "%B %d, %Y" }}
    {% if post.tags %} | Tags: {% for tag in post.tags %}
        <a class="tag" href="/{{ tag.url }}" rel="tag" title="Posts tagged with {{ post.tag }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}
  </h5>
  <hr class="small"/>

  <!-- Article Content
  ================================================================== -->
  <div class="article-content">
    {{ post.content }}
      <!-- Uncomment whichever commenting tool you want to use -->
      <!--{% include disqus.html %}-->
      <!--{% include talkyard-comments.html %}-->

  </div>

  <hr class="small"/>
  <div class="article-sharing">
      <ul>
      {% if site.show_social.twitter %}
      <!-- Twitter Sharing
      ================================================================== -->
      <li>
          <a href="https://twitter.com/share"
             class="twitter-share-button"
             data-via="{{ site.footer_links.twitter_id }}">Tweet</a>
      </li>
      {% endif %}

      {% if site.show_social.facebook %}
      <!-- Facebook Sharing
      ================================================================== -->
      <li><div class="fb-share-button"
          data-href="{{ site.url }}/{{ post.url }}"
          data-layout="button_count">
      </div></li>
      {% endif %}

      {% if site.show_social.hacker_news %}
      <!-- Hacker NewsSharing
      ================================================================== -->
      <li>
          <a href="https://news.ycombinator.com/submit"
             class="hn-button"
             data-count="horizontal">Vote on Hacker News</a>
      </li>
      {% endif %}
      </ul>
    </div>

    <!-- Back to home
    ================================================================== -->
    <div class="back-to-home">
      <a href="/">← Back to Home</a>
    </div>
    <hr class="small"/>
  </div>
</div>
