<!-- Navigation
================================================== -->
<nav class="navbar">
  <div class="navbar-brand six columns">
      <ul>
        <li>
          <a href="/" title="Home"><img id="logo" src="{{ site.logo }}" alt="{{ site.name}}"></a>
        </li>
        <li>
          <h1><a href="/" title="Home">{{ site.title }}</a></h1>
        </li>
      </ul>
      <ul id="social-icons">
        {% for nav in navigation %}
        <li>
          <a class="icon" href="{{ nav.url }}" title="{{ nav.site.title }}">
            <em class="fa fa-fw fa-{{ nav.site }}"></em>
          </a>
        </li>
        {% endfor %}
        <li>
          <a class="icon" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Subscribe (Atom)">
            <em class="fa fa-fw fa-rss"></em>
          </a>
        </li>
        <li>
          <a class="icon" href="mailto:Stargator@users.noreply.github.com" title="Email">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul> <!-- End social-icons ul -->
    </div> <!-- End navbar-brand -->

  <div class="navbar-links">
      <ul>
        <li><a href="/now/">Now</a></li>
        <li><a href="/blogent/blog/">Blog</a></li>
      </ul> <!-- End navbar-links ul -->
    </div> <!-- End navbar-links -->
</nav> <!-- End navbar -->
