---
layout: base
---
<title> {{ page.title }} | {{ site.title }}</title>
<meta name="description" content="All posts on {{ site.name }} tagged with {{ tag }}"/>

<header></header>

<div>

  <h1 class="article-title">Posts tagged with: {{ tag }}</h1>
  {% for article in site.posts %}
    {% if article.status != 'draft' %}
      <h2 class="article-title pull-left"><a href="/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h2>
      <h5 class="article-date pull-right">{{ article.date| date: "%b %d, %Y" }}</h5>
      <hr class="large">
    {% endif %}
  {% endfor %}
  <div class="back-to">
    <a href="/">← Back to Home</a>
  </div>
  <hr class="small"/>
</div>